# Chave Secreta do Stripe (Apenas para o servidor Node/Express - Nunca exposta no navegador)
STRIPE_SECRET_KEY=sk_test_...

# Chave Pública do Stripe (Para carregar os Elementos do frontend de forma anonimizada)
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_...
